<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Pixtory Curation Tool</title>
    {{#ifEqual mode "development"}}
    <link type="text/css" rel="stylesheet" href="/portal/stylesheets/normalize.css" />
    <link type="text/css" rel="stylesheet" href="/portal/stylesheets/skeleton.css" />
    <link type="text/css" rel="stylesheet" href="/portal/stylesheets/croppie.css" />
    <link type="text/css" rel="stylesheet" href="/portal/stylesheets/styles.css" />
    {{else}}
    <link type="text/css" rel="stylesheet"  href="/portal/stylesheets/dist/styles.min.css?v={{assetVersion}}" />
    {{/ifEqual}}
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto" />
</head>
<body>
    <hr class="top-line"/>
    <div class="container">
        <div class="row contest-top-nav v-offset-20 center">
            <div class="twelve columns">
                <img src="/portal/images/pixtory-logo.png" />
            </div>
        </div>
        <!-- container for messages -->
        <div class="row">
            <div class="twelve columns msg hidden jsMessage"></div>
        </div>
        {{{body}}}
    </div>
    {{#ifEqual mode "development"}}
    <script type="text/javascript" src="/portal/javascripts/lib/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/portal/javascripts/lib/jquery-handlebars-1.1.5.min.js"></script>
    <script type="text/javascript" src="/portal/javascripts/lib/js.cookie.js"></script>
    <script type="text/javascript" src="/portal/javascripts/lib/croppie.min.js"></script>
    <script type="text/javascript">
        /* handlebars templating configs */
        $.handlebars({
            templatePath: "/templates",
            templateExtension: "hbs"
        });
    </script>
    <script type="text/javascript" src="/portal/javascripts/utils.js"></script>
    <script type="text/javascript" src="/portal/javascripts/contest.js"></script>
    {{else}}
    <script type="text/javascript" src="/portal/javascripts/dist/libs.min.js?v={{assetVersion}}"></script>
    <script type="text/javascript">
        /* handlebars templating configs */
        $.handlebars({
            templatePath: "/templates",
            templateExtension: "hbs"
        });
    </script>
    <script type="text/javascript" src="/portal/javascripts/dist/utils.min.js?v={{assetVersion}}"></script>
    <script type="text/javascript" src="/portal/javascripts/dist/contest.min.js?v={{assetVersion}}"></script>
    {{/ifEqual}}
</body>
</html>
