{{#for 0 this.length 1}}
{{#ifModuloEqual this.index 3 0}}
<div class="row v-offset-15">
{{/ifModuloEqual}}
<div class="four columns">
    <div class="u-full-width pixtory-thumbnail jsPixtoryCard" data-id="{{this.index}}" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.6)), url({{this.data.imageUrl}})">
        {{#if this.data.likes}}
        <div class="thumbnail-likes"><span class="heart heart-white heart-small"></span>{{this.data.likes}}</div>
        {{/if}}
        {{#if this.data.status}}
        <div class="status-icon s-{{this.data.status}}"></div>
        {{/if}}
        <div class="thumbnail-title">{{this.data.title}}</div>
    </div>
</div>
{{#ifModuloPlusEqual this.index 3 0}}
</div>
{{/ifModuloPlusEqual}}
{{/for}}
