<div class="row v-offset-15">
    <div class="twelve columns">
        <span class="back-btn jsBackBtn">Back</span>
    </div>
</div>
<div class="row">
    <div class="five columns">
        <img src="{{this.imageUrl}}" class="pixtory-image"/>
    </div>
    <div class="seven columns">
        <div class="v-offset-15 pixtory-header clearfix">
            <div class="pull-left pixtory-title">{{this.title}}</div>
            <div class="pull-right">
                {{#if this.commentList.length}}
                <div class="pixtory-comments jsComments">{{this.commentList.length}}</div>
                {{/if}}
                {{#if this.likedUsers.length}}
                <div class="pixtory-likes jsLikes">
                    <span class="heart heart-blue"></span>{{this.likedUsers.length}}
                    <ul class="liked-users hidden">
                        {{#with this.likedUsers}}
                        {{#for 0 this.length 1}}
                        <li>{{this.data}}</li>
                        {{/for}}
                        {{/with}}
                    </ul>
                </div>
                {{/if}}
                {{#if this.status}}
                <div class="status-icon s-blk-{{this.status}}"></div>
                {{/if}}
            </div>
        </div>
        <div class="pixtory-story v-offset-25">
            {{{this.story}}}
        </div>
        <div class="hidden jsCommentsCont">
            <div class="jsCommentsBlk">
            {{#with this.commentList}}
                {{#for 0 this.length 1}}
                    <div class="comment-blk">
                        <img src="{{this.data.profileImage}}" />
                        <div class="comment-right">
                            <div>{{this.data.text}}</div>
                            <div class="comment-name">{{this.data.username}}</div>
                        </div>
                    </div>
                {{/for}}
            {{/with}}
            </div>
            <div>
                <input type="text" placeholder="Insert comment here" class="comments-ip jsCommentInput"/>
                <a href="javascript:void(0);" class="jsAddComment">Comment</a>
            </div>
        </div>
    </div>
</div>
